.auth-form {
  max-width: 400px;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 0.5rem;
  font-size: 1rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  font-size: 0.9rem;
  text-align: right;
  color: #bbb;
  margin-bottom: 1rem;
}

.sign-in-button {
  background-color: #56b586;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.social-login button {
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background: #333;
  color: white;
}

.create-account {
  font-size: 0.9rem;
  text-align: right;
  display: block;
  margin-top: 1rem;
  color: white;
}
